article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 120px;
  margin-bottom: 20px;
  padding-right: 50px;
  padding-left: 10px;
  font-family: poppins;
  padding-left: 70px;
}

/* .video-container {
  padding: 30px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.video {
  position: relative;
  width: 20vw;
  height: 20vw;
  top: 50%;
  left: 50%;
  margin-left: -10vw;
  margin-top: -10vw;
  background-color: rgb(206, 0, 0);
  overflow: hidden;
  filter: blur(0.2vw) contrast(500%) brightness(1500%) hue-rotate(30deg);
}

.bubble {
  position: absolute;
  width: 100%;
  height: 30%;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -30%;
  border-radius: 100%;
  background-color: lightpink;
  filter: blur(0.2vw) contrast(50000%) brightness(100%);
}

.bubble2 {
  position: absolute;
  width: 100%;
  height: 40%;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 60%;
  border-radius: 100%;
  background-color: lightpink;
  filter: blur(0.2vw) contrast(50000%) brightness(100%);
}

@keyframes bubbly {
  from {
    left: 50%;
    bottom: -50%;
  }
  to {
    left: 50%;
    bottom: 170%;
  }
} */

.video {
  z-index: 1;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  color: whitesmoke;
  margin: auto;
}

.secContent {
  width: 70%;
}

.secContent p {
  line-height: 20px;
  font-size: 15px;
  margin-top: 20px;
  text-align: justify;
}

section img {
  width: 20%;
}
